<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
<h1>Update Details</h1>
<form action="/details" method="post">
    <label><b>Enter Name</b></label><br>
    <input type="text" placeholder="Enter Name" name="customerName"><br><br>
    <label><b>Mobile Number:</b></label><br>
    <input type="number" placeholder="Enter phone Number" name="phoneNumber" ><br><br>
    <label><b>Enter Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" ><br><br>
    <input type="submit" value="Update">
</form>
</body>
</html>